body {
	margin: 0;
	font-family:tahoma;
}


.container {
	width: 90%;
	margin: auto;
}

.header-area {
	background-color:#3E5C9A;
	padding: 10px 0;
	
}

.header-area .logo-area {
	width:40%;
	float: left;
	padding-top:10px;
	
}
.logo-area a{
	padding-left:14%;
}
.header-area .login-area {
	overflow: hidden;
	width: 60%;
}

.login-area form {
	float: right;
}
.login-area label, 
.login-area input {
	display: block;
}
.login-area input[type="checkbox"] {
	float: left;
	margin-left: 0;
}

.login-area label {
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
}
.login-area input {
	margin: 5px 0 2px;
	border: 1px solid #1D2A5B;
	padding: 3px;
}
.login-area a {
	color: #8CACC3;
	font-size: 12px;
	text-decoration: none;
}

.login-area .username-area {
	float: left;
	margin-right: 15px;
}
.login-area .password-area {
	overflow: hidden;
	float: left;
	margin-right: 15px;
}
.login-area .submit-area {
	overflow: hidden;
	float: left;
}


.username-area label:last-child {
	margin-top: 3px;
	display: inline-block;
	overflow: hidden;
	margin-left: 2px;	
	color: #8CACC3;
	
}

.login-area a:hover {
	text-decoration: underline;
}

.submit-area input {
	background-color: #5A74A8;
	cursor: pointer;
	color: #FFFFFF;
	margin-top: 18px;
	font-size: 12px;
	padding:4px 8px;
	border:1px solid #29487D;
	border-radius:3px;
}
.submit-area input:hover{
	background:#3B5998;
}
.main-area{
	width:100%;
	height:370px;
	background:linear-gradient(#FFFFFF,#D4D9E9);
	
}
.allfbox{
	margin: 110px 400px;
	border: 1px solid #CCCCCC;
	border-radius:3px;
	background-color: white;
}
.searchforget{
	padding: 15px 75px;
}
.searchforget input{
	width: 260px;
	margin:5px 0px 10px 0px;
}
.forgetbox hr{
	border: none;
	border-bottom: 1px solid #CCCCCC;
	padding:0px;
	margin-bottom: 0px;
	width: 90%;
}
.forgetbox h1{
	padding: 0px;
	margin: 0px;
}
.searchforget p{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
.forgetbox h1{
	font-size: 15px;
	padding:14px 20px 10px 20px;
}

.btnfsearch{
	text-align: right;
	background-color: #F2F2F2;
	padding: 10px 10px;
	border:none;
	border-top: 1px solid #CCC;
}

.btnfsearch button{
	padding: 5px;
	border:1px solid #CCC;
}
.btnfsearch button:hover{
	cursor: pointer;
}
.btnfsearch button:nth-child(1){
	background-color: #4267B2;
	color: white;
}
.btnfsearch button:nth-child(1):hover{
	background-color: #3B5998;
	color: white;
}
.btnfsearch button:nth-child(2){
	background-color: #FFF;
}
.btnfsearch button:nth-child(2):hover{
	background-color: #CCC;
}

.fprofile{
	padding: 10px;
	float: left;
}

.fprofile p,span,a{
	padding: 0px;
	margin: 0px;
	color: gray;
}

.fprofile p{
	color: black;
}
.fprofile span{
	font-size: 13px;
	display: block;
}
.fprofile a{
	font-size: 13px;
	color: black;
	padding-top: 20px;
	text-decoration: none;
}
.fprofile a:hover{
	text-decoration: underline;
}

.passwrd{
	padding: 20px 0px;
}

.passwrd h2{
	padding: 10px;
	margin: 0px;
	float: left;
	font-size: 14px;
	text-align: center;
}

.passwrd input{
	padding: 2px;
	margin: 8px 30px;
	width: 38%;
}

.passwrd input:nth-child(4){
	padding: 2px;
	margin: 8px 6px;
}

.btnfsave{
	padding: 10px;
	text-align: right;
}
.btnfsave button{
	padding: 5px 10px;
	margin: 5px;
	border:none;
	outline: none;
}
.btnfsave button:hover{
	cursor:pointer;
}

.btnfsave button:nth-child(1){
	background-color: #3498db;
	color: white;
}
.btnfsave button:nth-child(1):hover{
	background-color: #2980b9;
}
.btnfsave button:nth-child(2){
	background-color: #bdc3c7;
}

.btnfsave button:nth-child(2):hover{
	background-color: #7f8c8d;
}

@media all and (max-width: 768px ) {
	.header-area .logo-area{
		float:none;
		margin-bottom:15px;
		text-align:center;
		width:100%;
	}
	.header-area .login-area{
		width:100%;
	}
   .login-area form{
	   float:none;
	   width:368px;
	   margin:auto;
   }
}

.footer-top,.footer-bottom {
	overflow: hidden;
	margin-left: 160px;
}

.footer-top ul, .footer-bottom ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-top ul li, .footer-bottom ul li {
	float: left;
	margin-right: 10px;
}

.footer-top a, .footer-bottom a {
	text-decoration: none;
	font-family: tahoma; 
	font-size: 11px;
	color: #3A5795;
}
.footer-top a:hover,.footer-bottom a:hover {
	text-decoration: underline;
}


.footer-bottom ul {
	width: 80%;
}

.footer-bottom ul li {
	margin-right: 0;
	width: 9%;
	margin-bottom: 5px;
}
.copyright{
	margin-left: 160px;
}

.copyright p {
	font-family: tahoma;
	font-size: 11px;
	color: #9197AD;
	margin-bottom: 0;
}
.copyright a {
	text-decoration: none;
	font-family: tahoma; 
	font-size: 11px;
	color: #3A5795;
}



@media all and (max-width: 410px) {
	.header-area form{
		width:auto;
	}
	.header-area .username-area{
		float:none;
	}
	.header-area .password-area{
		float:none;
	}
	.login-area input[type="text"],
	.login-area input[type="password"]{
		width:100%;
		
	}
}