.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-left: 900px;
  margin-top: 1px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content hr{
	border: none;
	margin:0px;
	padding:0px;
	border-bottom: 1px solid #E9EBEE; 
}
.dropdown-content a {
  color: black;
  padding: 5px 16px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color:  #4267B2;
  color: white;
}

.show {display: block;}

body{
	margin: 0;
	padding: 0;
	font-family:Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: #E9EBEE;
}
.scale{
	margin-left: 5%;
	margin-right: 17%;	
}
.navbar{
	height: 45px;
	background-color: #4267B2;
	width: 100%;
	top:0;
	position: fixed;
}

.left{
	width: 45%;
	float: left;
}

.right{
	width: 55%;
	overflow: hidden;
}

.logo{
	color: white;
	font-size: 0.5rem;
	float: left;
}
.logo a{
	color: white;
}
.fa-facebook-square{
	margin-top: 5px;

}
.searchbar{
	overflow: hidden;
}
.searchbar input{
	padding: 4px;
	line-height: 12px;
	width: 100%;
	margin-left: 10px;
	margin-top: 8px;
}

.navmenu{
	float: left;
	color: white;
	margin-top: -5px;
	margin-left: 10px;
}

.navmenu a{
	color: white;
	text-decoration: none;
}

.navmenu ul, li{
	list-style: none;
}
.navmenu ul li{
	float: left;
	padding:6px 13px;
    margin: 0 0 8px 0;
}
.navmenu ul li:hover{
	background-color: #3B5CA0;
	cursor: pointer;
	border-radius: 3px;
}
.proimage{
	float: left;
	margin-top: 5px;
}
.proname{
	overflow: hidden;
}
.proimage img{
	border-radius: 50%;
	height: 22px;
	width: 22px;
	margin-right: 5px;
	margin-top:-8px;
	margin-left: 5px;
}

.fabmenu{
	overflow: hidden;
	color: #1A2947;
}
.fabmenu ul{
    margin-top: 13px;
    padding: 0px;
}
.fabmenu li{
	float: left;
	padding: 0px 7px;
}
.fabmenu li:hover{
	color: black;
	cursor: pointer;
}
.bodylist{
	margin-top: 60px;
}
.bodylist a{
	text-decoration: none;
}

.middlescale{
	margin-left: 5%;
}

.leftsidebar{
	height: 1000px;
	float: left;
	width: 15%;
	position: fixed;
	color: black;	
}
.middle{
	margin-left: 192px;
	width: 62%;
	height: 1000px;
	float: left;
}

.rightsidebar{
	overflow: hidden;
	height: 1000px;
	width: 23%;
}

.leftsidebar ul {
  list-style-type: none;
  padding: 0 0 0 2px;
  margin: 0;
}

.leftsidebar ul li {
  padding: 5px 2px;
  margin-right: 20px;
}

.huber:hover{
	background-color: #F5F6F7;
	cursor: pointer;
}
.fa-users{
	color: white;
	border: 1px solid black;
	background-color: gray;
	border-radius: 5px;
	padding: 5px 3px 3px 3px;
}

.fa-messenger{
	color: #00A0FF;
}
.fa-lightbulb{
	color: orange;
	margin-left: 5px;
}
.fontawsome{
	float: left;
	font-size: 7px;
}

.fonttext{
	overflow: hidden;
	margin-left: 30px;
    margin-top: 4px;
}

.middleleft{
	float:left;
	width: 65%;
}

.middleright{
	overflow: hidden;
	width: 35%;
	border-radius: 3px;
}
.whitecolor{
	background-color: white;
}
.middleright ul li{
	list-style: none;
}

.middleright ul{
	padding: 0px;
	margin: 0px;
}

.middleright li{
	padding: 10px;
}

.suggestedtitle{
	padding: 10px;
}

.suggestedtitle h1{
	float: left;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

.suggestedtitle a{
	margin-left: 100px;
}
.sggttbox{
	border: 1px solid #E9EBEE;
}
.sggttboxinfo h1{
	float: left;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
.sggttboxinfo button{
	margin-left: 38px;
	margin-top:10px;
}
.sggttboxinfo p{
	color: gray;
	margin: 0px;
    padding: 5px;
}

.rightsidebar{
	margin-top: 10px;
}
.chattinglist{
	margin-left: 80px;
	position: fixed;
	border-left: 1px solid #bec1c5;
	height: 100%;	
}

.instanttext{
	float: left;
}
.more{
	overflow: hidden;
}

.instanttext h1{
	padding: 0px;
	font-size: 12px;
	float: left;
	margin: 0px;
	color: gray;
}

.more a{
	margin-left: 75px;
	font-size: 12px;color: gray;
}
.leftsign{
	width: 10%;
}
.leftsign a{
	float: left;
	color: black;
}
.advertisegame{
	overflow: hidden;
	width: 90%;
	margin-left: 5px;
	margin-right: -10px;
	float: left;
}
.games{
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #bec1c5
}
.ads{
	margin-left: 10px;
}
.advertisegame img{
	padding: 5px 3px;
	border-radius: 50%;
}

.rightsign{
	overflow: hidden;
	margin-bottom: 60px;
}

.profilestatus{
	padding: 0px;
	margin: 0px;
}
.profilestatus li{
	padding: 10px;
}
.profilestatus li img{
	height: 28px;
	width: 28px;
}

.profilestatus li a{
	font-size: 14px;
}

.profilestatus li span{
	font-size: 40px;
	margin-left: 25px;
	color: #4ABA34;
}
.profilestatus{
	height: 315px;
	overflow: hidden;
}
.profilestatus::-webkit-scrollbar {
  width: 5px;
  padding:0px;
  margin: 0px;
}

/* Track */
.rofilestatus::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.profilestatus::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.profilestatus::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.profilestatus:hover{
	overflow: auto;
}

.chattingsearch input{
	padding: 5px;
	width: 126px;
	border: none;
	outline: none;
	float: left;
}

.chattingsearch i{
	color: #bec1c5; 
	font-size: 2em;
	padding: 5px 2px;
	background: white;
}

.scalemid{
	margin-right: 10px;
	margin-left:10px;
}

.middleleft .statusbox h1{
	font-size: 13px;
	color: #4B4F7A; 
	background-color: #F5F6F7;
	padding: 10px;
	margin: 0px;
	border-bottom: 1px solid #D2D5DA;

}
.statusbox{
	border-radius: 3px;
	border: 1px solid #D2D5DA;
	overflow: hidden;
	background-color: #FFF;
}

.statusbox textarea{
	border: none;
	width: 421px;
	height: 72px;
	resize: none;
	outline: none;
}

.statusbox i{
	color: #D2D5DA;
	font-size: 2.5rem;
	float: left;
	background-color: #FFF;
	padding: 19px 15px;
}

textarea::-webkit-input-placeholder {
  padding: 10px 0px;
  padding-top: 14px;
  font-size: 16px;
  color: #D2D5DA;
}

.statusbox hr{
	width: 90%;
  	height: 1px;
    border: 0;
    border-top: 1px solid #F5F6F7;
    padding: 0px;
    margin: 0px;
 }

.statusbox ul{
	margin: 0px;
	padding: 0px;
	display: block;
}
#upload_link{
    text-decoration:none;
}
#upload{
    display:none
}


.statusbox ul li{
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
	background-color: #F5F6F7;
	border-radius: 500px;
}
.statusbox ul li:hover{
	cursor: pointer;
	background-color: #EBEDF0;
}

.statusbox ul li i{
	color: green;
	padding: 0px;
	margin: 0px;;
	font-size: 1rem;
}
.statusbox .fonttext{
	margin-left:20px;
	margin-top:1px;
}

.statusbox a{

}

.links{
	padding: 10px;
}

.languagelink{
	float: left;
	width: 80%;
}

.links a{
	padding: 5px 5px 10px 0;
	text-decoration: none;
}

.morelanguage{
	overflow: hidden;
	width: 20%;
}

.morelanguage button{
	font-size: 15px;
	color: black;
	margin: 15px;
}

.pageinfo{
	margin-top: 20px;
}

.pageinfo a{
	text-decoration: none;
	padding: 5px;
}
.btnpost{
    padding: 8px 225px;
    background-color: #4267B2;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border: none;
}

.btnpost:hover{
	cursor: pointer;
	color: #4267B2;
	background-color: white;
}

.newpost{
	margin-top: 20px;
	padding: 15px 15px 0px 15px;
	border: 1px solid #E9EBEE;
}
.usrimg img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.userinfos{
	width: 50%;
	float: left;
}
.usrimg{
	float: left;
}
.usrname{
	overflow: hidden;
}
.usrname h1{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	margin-top:-2px;
	padding: 5px;
}
.usrname a{
	padding: 0px;
	margin: 0px;
	padding: 5px;
	color: gray;
}
.postoption{
	width:50%;
	margin-bottom: 28px;
	overflow: hidden;
	text-align: right;
}
.postoption i{
	font-size: 15px;
}
.postoption a{
	color: gray;
}
.postoption i:hover{
	color: black;
}
.post-contents{
	padding: 5px 0px;
	text-align: justify;
}
.like{
	width: 49%;
    float: left;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 5px;
}
.comments{
	overflow: hidden;
	width: 50%;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 5px;
}
.comments i{
	font-size: 13px;
	color: gray;
}
.like i{
	font-size: 13px;
	color: gray;
}

.post-contents hr{
	margin: 0px 20px;
	width: 90%;
	border: none;
	border-top: 1px solid #E9EBEE;
	padding: 0px;
}

.comments:hover{
	background-color: #EBEDF0;
	border-radius: 3px;
	cursor: pointer;
}
.like:hover{
	background-color: #EBEDF0;
	border-radius: 3px;
	cursor: pointer;
}

.commentsinfo{
	padding: 15px;
}

.commentsinfo img{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	float: left;
}

.commentsinfo input{
	margin-left: 10px;
	border-radius: 15px;
	padding: 5px;
	border: 1px solid #E9EBEE;
	outline: none;
	width: 70%;
	float: left;
}

.commentsinfo input::-webkit-input-placeholder {
	font-size: 12px;

}

.commentsinfo i{
	margin-left: -45px;
    font-size: 15px;
    margin-top: 5px;
}

.blox{
	margin-left: 490px;
}

.blox i:hover{
	cursor: pointer;
}
.posts{
	border-bottom: 1px solid #E9EBEE;
}
.postreact a{
	color: gray;
	font-size: 15px;
}